.link-cards {
	&__pretitle, &__title, &__description {
		max-width: 779px;
	}
	&__pretitle {
		margin-bottom: 8px;
	}
	&__description {
		margin-bottom: 40px;
	}
	.row {
		row-gap: 12px;
	}
	.card {
		min-height: 120px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-repeat: no-repeat;
		background-size: cover;
		text-decoration: none;
		border-radius: 8px;
		overflow: hidden;
		padding: 32px 24px;
		transition: background-color .2s;
		@include media-breakpoint-up(md) {
			min-height: 180px;
		}
		@include media-breakpoint-up(xl) {
			padding: 40px;
		}
		&--small {
			@include media-breakpoint-up(md) {
				min-height: 140px;
				padding: 32px 20px;
			}
			&.card--has-image {
				@include media-breakpoint-up(md) {
					min-height: 366px;
				}
			}
			.card__arrow {
				@include media-breakpoint-up(md) {
					width: 46px;
					height: 46px;
				}
			}
			.card__certification-image {
				img, svg {
					@include media-breakpoint-up(md) {
						max-width: 160px;
						max-height: 100px;
					}
				}
			}
		}
		&--has-image {
			position: relative;
			min-height: 260px;
			@include media-breakpoint-up(md) {
				min-height: 494px;
			}
			&:before {
				content: '';
				position: absolute;
				top: 0; left: 0;
				width: 100%; height: 100%;
				background: rgba($black, 0);
				transition: all .2s;
			}
			&:hover {
				&:before {
					background: rgba($black, 0.3);
				}
			}
			&.card--has-filter {
				&:before {
					opacity: 1;
					background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 25%, rgba(0, 0, 0, 0) 90%);
				}
				&:hover {
					&:before {
						opacity: 0.1;
					}
				}
			}
		}
		&:hover {
			&.light-blue, &.dark-blue, &.grayish-blue, &.yellow {
				background-color: $hover-blue;
			}
			&.dark {
				.card__arrow {
					background: $white;
					i {
						color: $dark-blue;
					}
				}
				.heading, .card__description{
					color: $white;
				}
			}
		}
		&.light-blue {
			background-color: $light-blue;
		}
		&.dark-blue {
			background-color: $dark-blue;
		}
		&.grayish-blue {
			background-color: $light-gray;
		}
		&.yellow {
			background-color: $yellow;
		}
		&.light {
			.card__arrow {
				background: $white;
				i {
					color: $dark-blue;
				}
			}
			.heading, p {
				color: $white;
			}
		}
		&.dark {
			.card__arrow {
				background: $dark-blue;
				i {
					color: $white;
				}
			}
			.heading, p {
				color: $dark-blue;
			}
		}
		&__content {
			display: flex;
			justify-content: space-between;
			gap: 10px;
			z-index: 1;
		}
		&__title {
			word-break: break-word;
			margin: 8px 0;
			transition: color .2s;
			@include media-breakpoint-up(md) {
				margin: 12px 0;
			}
		}
		&__description {
			font-size: 14px;
			margin-bottom: 0;
			z-index: 10;
		}
		&__arrow {
			flex-shrink: 0;
			width: 46px;
			height: 46px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: $white;
			border-radius: 4px;
			transition: color .2s;
			@include media-breakpoint-up(md) {
				width: 66px;
				height: 66px;
			}
			i {
				font-size: 18px;
				transition: color .2s;
			}
		}
		&__certification-image {
			display: flex;
			justify-content: center;
			z-index: 1;
			margin-top: 24px;
			@include media-breakpoint-up(md) {
				margin: 24px 0 8px 0;
			}
			img, svg {
				max-width: 160px;
				max-height: 100px;
				@include media-breakpoint-up(md) {
					max-width: 248px;
					max-height: 160px;
				}
			}
		}
	}
	&__button {
		text-align: center;
		a {
			margin-top: 40px;
		}
	}
}