.block.content {
	overflow: hidden;
	.editor-content {
		img {
			&.full-width {
				@include media-breakpoint-down(sm) {
					margin-left: -20px;
					margin-right: -20px;
				}
			}
		}
		p {
			img.full-width {
				@include media-breakpoint-down(sm) {
					width: calc(100% + 40px);
					max-width: calc(100% + 40px);
				}
			}
		}
	}
}